*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

nav a, li {
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 0.9rem;
  text-align: justify;
  max-width: 70ch;
}

img {
  max-width: 100%;
}

#tabelle {
  max-width: 100%;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid;
  border-collapse: collapse;
}

tr,
td,
th {
  border: 1px solid;
  text-align: center;
  padding: 1%;
}

nav {
  background-color: hsl(0, 0%, 0%);
  z-index: 1;
  position: sticky;
  top: 0px;
  float: left;
  align-self: start;
  height: 100vh;
}
nav ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 90%;
  padding: 5%;
}
nav li a {
  white-space: wrap;
  color: hsl(0, 0%, 100%);
  margin: 0%;
}
@media (max-width: 60em) {
  nav {
    font-size: 1rem;
    background-color: hsl(0, 0%, 0%);
    z-index: 1;
    position: sticky;
    top: 0px;
    padding: 0%;
    height: fit-content;
  }
  nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0%;
    padding: 2%;
  }
  nav li a {
    white-space: wrap;
    color: hsl(0, 0%, 100%);
    margin: 0%;
  }
}
@media (max-width: 35em) {
  nav {
    font-size: 1rem;
    background-color: hsl(0, 0%, 0%);
    padding: 2%;
    height: fit-content;
    position: relative;
  }
  nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0%;
    padding: 2%;
  }
  nav li a {
    white-space: wrap;
    color: hsl(0, 0%, 100%);
    margin: 0%;
  }
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 0%;
}
body .title {
  margin: 2% auto;
  border-radius: 20px;
  width: 30%;
  padding: 0.5%;
  text-align: center;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: column wrap;
  width: fit-content;
}
@media (max-width: 60em) {
  body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0%;
  }
}

article {
  margin-bottom: 5%;
  text-align: center;
  scroll-margin-top: 10px;
}
article p {
  margin: 1% auto;
}
article h2 {
  margin: 2% auto;
  border-radius: 20px;
  width: 25%;
  padding: 0.5%;
  text-align: center;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: column wrap;
  width: fit-content;
}
article h3 {
  margin-top: 5%;
  margin: 2% auto;
  border-radius: 20px;
  width: 15%;
  padding: 0.5%;
  text-align: center;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: column wrap;
  width: fit-content;
}
article figure {
  margin: 1% auto;
}
article table {
  margin: 4% auto;
}
article form {
  margin: 2% auto;
  width: 50%;
}
@media (max-width: 60em) {
  article {
    scroll-margin-top: 100px;
  }
  article p {
    font-size: 1rem;
    margin: 1% auto;
    width: 90%;
  }
  article figure {
    margin: 0% auto;
  }
  article table {
    margin: 4% auto;
  }
  article form {
    margin: 2% auto;
  }
}
@media (max-width: 35em) {
  article {
    scroll-margin-top: 10px;
  }
}

figure {
  position: relative;
  width: 50%;
}
figure img {
  display: block;
  text-align: center;
  width: 100%;
}
figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: hsl(0, 0%, 53%);
}
@media (max-width: 60em) {
  figure {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
