@use "mixins";

article{
    margin-bottom: 5%;
    text-align: center;
    
    p{
        margin: 1% auto;
    }

    h2{
        @include mixins.headlines(20px, 2% auto, 25%);
    }

    h3{
        margin-top: 5%;
        @include mixins.headlines(20px, 2% auto, 15%);
    }

    figure{
        margin: 1% auto;
    }

    table{
        margin: 4% auto;
    }

    form{
        margin: 2% auto;
        width: 50%;

        fieldset{
            text-align: justify;
        }
    }

    .content{
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(50em, 1fr));
       align-items: center;
    }
}