article{
    margin-bottom: 4%;

    p,  
    figure{
        margin: 1% auto;
    }

    table{
        margin: 4% auto;
    }

    form{
        margin: 2% auto;
        width: 50%;

        fieldset{
            text-align: justify;
        }
    }
}