@use "mixins";

// Article mit Media Queries
article{
     margin-bottom: 5%;
     text-align: center;

     scroll-margin-top: 10px;
    
     p{
         margin: 1% auto;
     }

     h2{
         @include mixins.headlines(20px, 2% auto, 25%);
     }

     h3{
         margin-top: 5%;
         @include mixins.headlines(20px, 2% auto, 15%);
    }

    figure{
         margin: 1% auto;
     }

     table{
         margin: 4% auto;
     }

     form{
        margin: 2% auto;
         width: 50%;


     }

    // middel & small screen
    @media (max-width: 60em){
        
            scroll-margin-top: 100px;
        
        p{
            font-size: 1rem;
            margin: 1% auto;
            width: 90%;
        }
        
        figure{
            margin: 0% auto;
        }
   
        table{
            margin: 4% auto;
        }
   
        form{
           margin: 2% auto;
        }
    }   

    //small screen
    @media (max-width: 35em){
        
        scroll-margin-top: 10px;
} 

 }







// Article mit Grid... alte Version
// article{
//     margin-bottom: 5%;
//     text-align: center;
    
//     p{
//         margin: 1% auto;
//     }

//     h2{
//         @include mixins.headlines(20px, 2% auto, 25%);
//     }

//     h3{
//         margin-top: 5%;
//         @include mixins.headlines(20px, 2% auto, 15%);
//         display: flex;
//         flex-flow: column wrap;
//         width: fit-content;
//     }

//     figure{
//         margin: 1% auto;
//     }

//     table{
//         margin: 4% auto;
//     }

//     form{
//         margin: 2% auto;
//         width: 50%;

//         fieldset{
//             text-align: justify;
//         }
//     }

//     .content{
//        display: grid;
//        grid-template-columns: repeat(auto-fit, minmax(40em, 1fr));
//        align-items: center;
//     }
// }