$caption-background-color: hsl(0, 0%, 53%);

figure{

    position: relative;
    width: 60%;

    img{
        display: block;
        text-align: center;
        width: 100%;
    }

    figcaption{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: $caption-background-color;
    }
}