main{
    margin: auto;
    width: 95%;
}

article{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5%;
    gap: 20px;
    padding-left: 5%;
    padding-bottom: 2%;

    h2, h3{
        width: 100%;
        text-align: start;
    }

    table{
        margin: 4% auto;
    }

    background-color: hsla(212, 79%, 44%, 0.405);
}




