//Headlines
@mixin headlines($boarder-radius, $margin, $width){
    margin: $margin;
    border-radius: $boarder-radius;
    width: $width;
    text-align: center;
                background-color: hsl(0, 0%, 0%);
                color: hsl(0, 0%, 100%);
}