//Colors
$nav-background-color: hsl(0, 0%, 0%);
$nav-color: hsl(0, 0%, 100%);
@use "mixins";

// Nav mit Media Queries
nav{
// large screen
    background-color: $nav-background-color;
    z-index: 1;
    position: sticky;
    top: 0px;
    float: left;
    align-self: start;
    height: 100vh;

    ul{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 90%;
        padding: 5%;
     //scrool-top-margine
    
     }

     li a{
         white-space: wrap;
         color: $nav-color;
         margin: 0%;
     }  

// middel screen
@media (max-width: 60em){

    font-size: 1rem;
    background-color: $nav-background-color;
    z-index: 1;
    position: sticky;
    top: 0px;
    padding: 0%;
    height: fit-content;

    ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 0%;
        padding: 2%;
     }

     li a{
         white-space: wrap;
         color: $nav-color;
         margin: 0%;
     }
        
}

 // small screen
 @media (max-width: 35em){

    font-size: 1rem;
    background-color: $nav-background-color;
    padding: 2%;
    height: fit-content;
    position: relative;

    ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 0%;
        padding: 2%;
     }

     li a{
         white-space: wrap;
         color: $nav-color;
         margin: 0%;
     }
        
}

}

// Nav mit Grid... alte Version
// nav{

//     background-color: $nav-background-color;
//     z-index: 1;
//     position: sticky;
//     top: 0px;
//     padding: 0.1%;

//     ul{
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
//     align-items: center;//scrool-top-margine
    
//     li{
//         text-align: center;
//     }
//     }

//     li a{
//         white-space: wrap;
//         color: $nav-color;
//         margin: 0%;
//     }
// }

