@use "mixins";

// body{

//     margin: 0%;

//     .title{
//         text-align: center;
//         background-color: hsl(0, 0%, 0%);
//         color: hsl(0, 0%, 100%);
//         width: 30%;
//         @include mixins.boarder-radius(20px, 2% auto);
//     }

//     div{
//         display: flex;
//         flex-flow: row wrap;
//         margin: 0%;
//         align-items: stretch;
 
//         main{
//             text-align: center;
//             flex: 0 1 70em;
//         }

//     }
// }

body{
    display: grid;
    grid-template-areas:    "nav article1"
                            "nav article2"
                            "empty article3"
                            "empty article4"
                            "empty article5";
    
    grid-template-columns: 1fr, 4fr;

    .title{
                text-align: center;
                background-color: hsl(0, 0%, 0%);
                color: hsl(0, 0%, 100%);
                width: 30%;
                @include mixins.boarder-radius(20px, 2% auto);
            }

    nav{
        grid-area: nav;

    }

    #verschiedene-vogelarten{
        grid-area: article1;
    }

    
}