.s-animation{
    background-image: url("../../../images/rabe.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 10s;

    animation: animate-birds 40s ease-in-out infinite;

    p{
        position: absolute;
        top: -50%;
        font-family: cursive;
        color: hsl(0, 100%, 50%);
    }
    
}

@keyframes animate-birds{
    0%{
        background-image: url("../../../images/rabe.png");
        opacity: 1;
    }
    12.5%{
        opacity: 0;
    }
    25%{
        background-image: url("../../../images/raubvogel.png");
        opacity: 1;
    }
    37.5%{
        opacity: 0;
    }
    50%{
        background-image: url("../../../images/spatz.png");
        opacity: 1;
    }
    62.5%{
        opacity: 0;
    }
    75%{
        background-image: url("../../../images/kolibri.png");
        opacity: 1;
    }
    87.5%{
        opacity: 0;
    }
    100%{
        background-image: url("../../../images/rabe.png");
        opacity: 1;
    }
}

.m-figure.scroll{

        transition: 0.5s;

        animation: scroll-animation 1s ease-in;

}

@keyframes scroll-animation{

    0%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}







