*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

nav a, li {
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 0.9rem;
  text-align: justify;
  max-width: 70ch;
}

img {
  max-width: 100%;
}

table {
  max-width: 100%;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid;
  border-collapse: collapse;
}

tr,
td,
th {
  border: 1px solid;
  text-align: center;
  padding: 1%;
}

.l-article {
  margin-bottom: 5%;
  text-align: center;
  scroll-margin-top: 10px;
}
.l-article p {
  margin: 1% auto;
}
.l-article h2 {
  margin: 2% auto;
  border-radius: 20px;
  width: 25%;
  padding: 0.5%;
  text-align: center;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: column wrap;
  width: fit-content;
}
.l-article h3 {
  margin-top: 5%;
  margin: 2% auto;
  border-radius: 20px;
  width: 15%;
  padding: 0.5%;
  text-align: center;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: column wrap;
  width: fit-content;
}
.l-article .m-figure {
  margin: 1% auto;
}
.l-article .table {
  margin: 4% auto;
}
.l-article .m-form {
  margin: 2% auto;
  width: 50%;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 0%;
}
body .title {
  margin: 2% auto;
  border-radius: 20px;
  width: 30%;
  padding: 0.5%;
  text-align: center;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: column wrap;
  width: fit-content;
}
body .s-animation {
  position: fixed;
  bottom: 0px;
  right: 10px;
  width: 10%;
  height: 20%;
  z-index: 2;
}

.m-figure {
  position: relative;
  width: 50%;
}
.m-figure img {
  display: block;
  text-align: center;
  width: 100%;
}
.m-figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: hsl(0, 0%, 53%);
}

.m-nav-primary {
  background-color: hsl(0, 0%, 0%);
  z-index: 1;
  position: sticky;
  top: 0px;
  float: left;
  align-self: start;
  height: 100vh;
}
.m-nav-primary ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 90%;
  padding: 5%;
}
.m-nav-primary li a {
  white-space: wrap;
  color: hsl(0, 0%, 100%);
  margin: 0%;
}
.m-nav-primary li a:active {
  opacity: 50%;
}

.m-nav-mobile {
  position: absolute;
  visibility: hidden;
}

.m-form fieldset label {
  display: none;
}
.m-form fieldset input {
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  font-size: 16px;
}
.m-form fieldset textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}
.m-form #submit {
  display: none;
}
.m-form #submit.show {
  display: block;
  width: fit-content;
}

li {
  transition: transform 1s;
}

li:hover {
  transform: scale(1.1) translateX(8%);
}

.s-animation {
  background-image: url("../../../images/rabe.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 10s;
  animation: animate-birds 40s ease-in-out infinite;
}
.s-animation p {
  position: absolute;
  top: -50%;
  font-family: cursive;
  color: hsl(0, 100%, 50%);
}

@keyframes animate-birds {
  0% {
    background-image: url("../../../images/rabe.png");
    opacity: 1;
  }
  12.5% {
    opacity: 0;
  }
  25% {
    background-image: url("../../../images/raubvogel.png");
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  50% {
    background-image: url("../../../images/spatz.png");
    opacity: 1;
  }
  62.5% {
    opacity: 0;
  }
  75% {
    background-image: url("../../../images/kolibri.png");
    opacity: 1;
  }
  87.5% {
    opacity: 0;
  }
  100% {
    background-image: url("../../../images/rabe.png");
    opacity: 1;
  }
}
.m-figure.scroll {
  transition: 0.5s;
  animation: scroll-animation 1s ease-in;
}

@keyframes scroll-animation {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
@media (max-width: 60em) {
  body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0%;
  }
}

@media (max-width: 60em) {
  .m-figure {
    width: 100%;
  }
}

@media (max-width: 60em) {
  .s-animation p {
    display: none;
  }
}

@media (max-width: 60em) {
  .l-article {
    scroll-margin-top: 100px;
  }
  .l-article p {
    font-size: 1rem;
    margin: 1% auto;
    width: 90%;
  }
  .l-article .m-figure {
    margin: 0% auto;
    transition: none;
    transform: none;
  }
  .l-article .table {
    margin: 4% auto;
  }
  .l-article .m-form {
    margin: 2% auto;
  }
}
@media (max-width: 35em) {
  .l-article {
    scroll-margin-top: 60px;
  }
}

@media (max-width: 60em) {
  .m-nav-primary {
    font-size: 1rem;
    background-color: hsl(0, 0%, 0%);
    z-index: 1;
    position: sticky;
    top: 0px;
    padding: 0%;
    height: fit-content;
  }
  .m-nav-primary ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0%;
    padding: 2%;
  }
  .m-nav-primary li a {
    white-space: wrap;
    color: hsl(0, 0%, 100%);
    margin: 0%;
  }
}
@media (max-width: 35em) {
  .m-nav-primary {
    position: absolute;
    visibility: hidden;
  }
}

@media (max-width: 35em) {
  .m-nav-mobile {
    font-size: 1rem;
    background-color: hsl(0, 0%, 0%);
    padding: 0%;
    height: fit-content;
    position: sticky;
    top: 0%;
    width: 100%;
    z-index: 1;
    position: sticky;
    top: 0%;
    visibility: visible;
  }
  .m-nav-mobile .dropdown {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
  .m-nav-mobile .dropdown #icons {
    align-self: flex-end;
    width: 10%;
  }
  .m-nav-mobile .dropdown #icons #close {
    display: none;
  }
  .m-nav-mobile .dropdown #box {
    position: absolute;
    right: 0;
    top: 2%;
    width: 8%;
    height: 60%;
    opacity: 0%;
  }
  .m-nav-mobile .dropdown label {
    display: none;
  }
  .m-nav-mobile .dropdown #box:checked ~ ul {
    visibility: visible;
  }
  .m-nav-mobile .dropdown #box:checked {
    height: 6%;
    top: 1%;
  }
  .m-nav-mobile .dropdown #box:checked ~ #icons #menu {
    display: none;
  }
  .m-nav-mobile .dropdown #box:checked ~ #icons #close {
    display: block;
  }
  .m-nav-mobile .dropdown ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    visibility: collapse;
  }
  .m-nav-mobile .dropdown li {
    text-align: center;
    margin: 5% 0%;
    transition: none;
    transform: none;
  }
  .m-nav-mobile .dropdown li a {
    width: 100%;
    white-space: wrap;
    color: hsl(0, 0%, 100%);
    text-align: center;
  }
  .m-nav-mobile .dropdown li:hover {
    opacity: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
