// Layout variablen
$layout-breakpoint-small: 960px; 
// Color variablen
$nav-background-color: hsl(0, 0%, 0%);
$caption-background-color: hsl(0, 0%, 53%);
$nav-color: hsl(0, 0%, 100%);

h1,
h2,
h3{
    text-align: center;
}

figure{

    position: relative;
    width: 45%;
    margin: 0%;

    img{
        display: block;
        text-align: center;
        width: 100%;
    }

    figcaption{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: $caption-background-color;
    }
}

nav{

    background-color: $nav-background-color;
    z-index: 1;

    @media (min-width: $layout-breakpoint-small){
        position: sticky;
        top: 0;
    }

    ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
    }

    ul li{
        margin: 1%;
    }

    li a{
        white-space: nowrap;
        color: $nav-color;
    }
    
}